In [1]:
import pandas as pd

In [3]:
file_to_load = "Resources/vine_table.csv"

vine_table = pd.read_csv(file_to_load)
vine_table.head()

C:\Users\omaro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4,0.0,0.0,N,N
2,RY8I449HNXSVF,5,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5,0.0,0.0,N,Y

In [48]:
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or 
#greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

total_votes_df = vine_table[(vine_table["total_votes"] >= 20)]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [51]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve #
#all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_votes_df = total_votes_df[(total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= 0.5)]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [67]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves 
#all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.


paid_vine_program_df = helpful_votes_df[(helpful_votes_df["vine"] == "Y")]
paid_vine_program_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4,50.0,51.0,Y,N
...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N

In [63]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
unpaid_vine_program_df = helpful_votes_df[(helpful_votes_df["vine"] == "N")]
unpaid_vine_program_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [88]:
#Determine the total number of reviews, the number of 5-star reviews, 
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
print("Total number of reviews", vine_table["star_rating"].count())
print("Total number of 5-star reviews", vine_table[(vine_table["star_rating"] == 5)]["star_rating"].count())
print("Total number of 5-star reviews of paid vine program", 
      paid_vine_program_df.filter("star_rating == 5").count())


# unpaid_df = unpaid_vine_program_df[(unpaid_vine_program_df["star_rating"] == 5)]["star_rating"].count()
# print(unpaid_df)

Total number of reviews 9001883
Total number of 5-star reviews 4699957
Total number of 5-star reviews of paid vine program Series([], dtype: int64)